# URL máy chủ API chung (Dùng cho cả pipeline)
API_BASE_URL=

# Chế độ chạy LLM: "remote" hoặc "nvidia" (API Cloud)
LLM_MODE=remote

# API Key khi chạy chế độ NVIDIA (Để trống nếu dùng remote)
LLM_API_KEY=

# Tên mô hình LLM sử dụng khi chạy chế độ NVIDIA (Để trống nếu dùng remote)
LLM_MODEL_NAME=
