# Environment
.env
.venv/
__pycache__/
*.py[cod]

# Build
build/
dist/
*.egg-info/

# uv
.python-version

# Testing
.coverage
htmlcov/
.pytest_cache/

# Logs
*.log

# OS / IDE
.DS_Store
.idea/
.vscode/

# Models
models/*
!models/.gitkeep

# Results
results/*
!results/.gitkeep

# Data
data/pairs/*

# Jupyter
.ipynb_checkpoints/

# Misc
structure_tree.txt
ttcs1.md
.temp